body {
  width: 100%;
  height: 100%;
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, "PoiretOne-Regular", "Lato-Light", "Grandstander", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue";

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@font-face {
  font-family: 'PoiretOne-Regular';
  src: url('./assets/fonts/PoiretOne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato-Light';
  src: url('./assets/fonts/Lato-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'riesling';
  src: url('./assets/fonts/riesling.ttf') format('truetype');
}

h1 {
  font-family: 'PoiretOne-Regular';
}

h2 {
  font-family: 'riesling';
}

h3 {
  font-family: 'Lato-Light';
}