.nav-link {
  position: relative;
  width: 33.333%;
  display: table-cell;
  text-align: center;
  color: #949494;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  padding: 10px 20px;
  transition: 0.2s ease color;
}

.nav-link:before,
.nav-link:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.2s ease transform;
}

.nav-link:before {
  top: 0;
  left: 10px;
  width: 6px;
  height: 6px;
}

.nav-link:after {
  top: 5px;
  left: 18px;
  width: 4px;
  height: 4px;
}

.nav-link:nth-child(1):before {
  background-color: yellow;
}

.nav-link:nth-child(1):after {
  background-color: red;
}

.nav-link:nth-child(2):before {
  background-color: #00e2ff;
}

.nav-link:nth-child(2):after {
  background-color: #89ff00;
}

.nav-link:nth-child(3):before {
  background-color: #949494
}