.list-header {
  position: relative;
}

@supports (position: sticky) {
  .list-header {
    position: sticky;
    top: 0;
  }
}

.content {
  padding: 10px;
}

.header-large {
  color: #00FF6C;
  height: 400px;
  background-size: cover;
  background-position: center;
  background-image: url("https://source.unsplash.com/g5Uh7nP60FA");
  display: flex;
  align-items: flex-start;
}

.main-nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  background-color: rgb(51, 51, 51);
  padding: 5px;
  color: #00FF6C;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.list-content {
  padding: 10px 20px;
}

.list-header {
  background-color: #333;
  color: #00FF6C;
  padding: 10px;
  font-weight: bold;
}

.side-links {
  position: absolute;
  top: 15px;
  right: 15px;
}

.side-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-bottom: 10px;
  color: white;
  width: 180px;
  padding: 10px 0;
  border-radius: 10px;
}

.side-link-youtube {
  background-color: red;
}

.side-link-twitter {
  background-color: #1DA1F2;
}

.side-link-github {
  background-color: #6e5494;
}

.side-link-text {
  margin-left: 10px;
  font-size: 18px;
}

.side-link-icon {
  color: white;
  font-size: 30px;
}